* {
  box-sizing: border-box;
  background-color: #fff3e0;
  color:#1e1e1e;
}

body {
  font-family: Roboto, Arial, sans-serif;
  color: #1e1e1e;
  margin: 0 2rem;
  padding: 2rem;

}

h1 {
  font-size: 2rem;
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #43a047;
  border-radius: 5px;
  border-style: none;
}